<tr class="item round">
	<td class="gravatar">
		<%= link_to gravatar_for(item.owner), item.owner %>
	</td>
	<td class="description">	
		<span class="category-tag"></span>
		<span class="item-description"></span>
		<span class="img-link"></span>
		<span class="item-extra-info"></span>
	</td>
	<td class="item-interaction">	
		<span class="item-request"></span>
		<span class="hp"></span>
	</td>	
</tr>	