<h1>About us</h1>
<p>We are undergraduates in NTU. We started to learn Ruby On Rails from mid-August, 2011.</p>
<p>
	This project is for NTU students. Inspired by the movie "The 36th Story", the gist is that, people always have things to share: some people have too many of one category, while others have too few. Why give it away to others, things you don't need? Likewise, you will also benefit from the website too. 
</p>	
