<% ul_block = Proc.new do |sub| %>
	<ul>
		<% sub.each do |grandchild, subsub|%>
			<li id="<%= grandchild.name %>"><%= link_to grandchild.name.capitalize, '#' %>
				<% ul_block.call(subsub) if subsub %>
			</li>
		<% end %>
	</ul>	
<% end %>



<ul class="categories sf-menu"> 
<% hierarchy.each do |child, sub_h| %>
	<li id="<%= child.name %>"><%= link_to child.name.capitalize, '#'%>
	
		<% ul_block.call(sub_h) if sub_h %>		
	
	</li>
<% end %>	
</ul>