/*
*= require_self
*= require_directory .
*= require ./superfish/superfish.css
*= require ./superfish/superfish-vertical.css
*/

body{
	background: #ccc;
	-moz-opacity: .999;
}

.container{
	width: 850px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	background: white;
}

section {
	font-size: 120%;
	background: white;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding: 20px;
	clear:both; /*this line seperate header from section*/
}

div#main {
	padding-top: 20px;
	margin-left: 170px;
}

div#sidebar{
	float: left;
	width: 140px;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}


/*for header*/
nav {
	background: white;
	float: right;
	white-space: nowrap;
	font-size: 120%;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding-left: 3px;
	padding-right: 3px;
}

nav ul li a {
	text-decoration: none;
	border-bottom: 1px dotted #fca82b;
}

/*for footer*/
footer {
	text-align: center;
	font-size: 50%;
	clear: both;
}



/*div#locations {
	border: medium solid #fc9d1c;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	margin-right: 20px;
	width: 200px;
	float: left;
}

div#locations h1 {
	color: #dc3030;
	text-align: center;
}*/

div.field, div.actions {
	margin-bottom: 10px;
}

.field_with_errors {
	margin-top: 10px;
	padding: 2px;
	background-color: red;
	display: table;
}

.field_with_errors label {
	color: #fff;
}

#error_explanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 30px;
	background-color: #f0f0f0;
}

#error_explanation p {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#error_explanation ul {
	padding-top: 5px;
}

#error_explanation ul li {
	font-size: 12px;
	list-style: square;
	margin: 5px;
}


/* the general design for item specifications */
.item-info {
	.category-tag {
		border: 1px solid #333;
		color: #ccc;
		background: #701d09;
		display: inline-block;
		padding: 5px;
	}
	
	.item-extra-info {
		font-size: 70%;
	}
}










