<% if @category.name == "base"%>
<h1>All items</h1>
<% else%>
<h1><%= @category.name.capitalize%></h1>
<% end %>

<div class="sidebar" id="categories">
	<%= render 'shared/categories_hierarchy', hierarchy: @hierarchy %>
</div>

<div class="main">

<% unless @items.empty? %>
<table class="items_list" summary="all items list">
	<%= render :partial => 'shared/onshelf_item' ,:collection => @items %>
</table>	
<% else %>
<div class="non-record">
	<p>There are no record found.</p>
	<p>You may want to browse other categories on the left, or</p>
	<p><%= link_to "search for it", "#" %></p>
</div>	
<% end %>

</div>
