<header>
	
<nav class="round">	
	<ul>
	<% if signed_in? %>
	<li><%= link_to "My Homepage", current_user %></li>
	<% else %>
	<li><%= link_to "Home", root_path %></li>
	<% end %>
	<li><%= link_to "Contact us", contact_path %></li>
	<% if signed_in? %>
	<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
	<% end %>
	</ul>	
</nav>	
	
</header>